// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (C) 2018-2019 Intel Corporation
 */

#include "socfpga_stratix10.dtsi"

/ {
	model = "SoCFPGA Stratix 10 SoCDK";

	aliases {
		ethernet0 = &gmac0;
		i2c = &i2c2;
		spi1 = &spim0;
		spi2 = &spim1;
		i2c0 = &i2c1;
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
		bootargs = "console=ttyS0,115200";
		u-boot,boot0 = <&mmc>;
	};


	memory {
		device_type = "memory";
		reg = <0 0x00000000 0 0x80000000>; /* 2GB */
		u-boot,dm-pre-reloc;
	};
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&gmac0 {
        status = "okay";
};

&gmac1 {
	status = "disabled";
};

&i2c2 {
	status = "okay";
};

&spim0 {
        status = "okay"
};

&mmc {
	status = "okay";
	cap-sd-highspeed;
	cap-mmc-highspeed;
	broken-cd;
        num-slots = <1>;
	bus-width = <4>;
	drvsel = <3>;
	smplsel = <0>;
};

&qspi {
	flash0: mt25qu01g@0 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "micron,mt25qu01g","spi-flash";
		reg = <0>; /* chip select */
		spi-max-frequency = <25000000>; /*<50000000>*/

		m25p,fast-read;
		cdns,page-size = <256>;
		cdns,block-size = <16>;
		cdns,read-delay = <1>;
		cdns,tshsl-ns = <50>;
		cdns,tsd2d-ns = <50>;
		cdns,tchsh-ns = <4>;
		cdns,tslch-ns = <4>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			qspi_boot: partition@0 {
				label = "Boot and fpga data";
				reg = <0x0 0x4000000>;
			};

			qspi_rootfs: partition@4000000 {
				label = "Root Filesystem - JFFS2";
				reg = <0x4000000 0x4000000>;
			};
		};
	};
};

&uart0 {
	status = "okay";
};

&usb0 {
	status = "okay";
};
